pyautogui==0.9.54
pywin32==3


#sudo python3 -m pip install --break-system-packages pyautogui python-xlib psutil python-uinput
#sudo apt install wmctrl x11-utils
#sudo python3 /home/vanguard/Documents/WorkServer/serve.py
